<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cust">
	<select id="custList" resultType="com.core.plus.contact.cust.vo.CustVO">
		select
		l.lead_no,
		l.lead_name,
		l.cust_no,
	     case when (emp_name) is null then ' '
		   	   else (emp_name) end as emp_name ,
	     case when (cust_name) is null then ' '
		   	   else (cust_name) end as cust_name ,  
		p.phone_no,
		l.contact_day,
		l.rank_cd,
		date_format(l.create_date, '%Y-%m-%d %H:%i') as create_date
		from 
		tb_lead l left join tb_cust c on l.cust_no = c.cust_no left join  tb_emp em on l.emp_no = em.emp_no left join tb_cust_phone p on l.cust_no = p.cust_no
		where 1=1 and l.del_yn ='N'
	   		<if test="cust_no !=null and cust_no !=''">
				and(a.cust_no like concat('%', #{cust_no}, '%') )
			</if> 
	   		<if test="cust_name !=null and cust_name !=''">
				and(a.cust_name like concat('%', #{cust_name}, '%') )
			</if> 
	   		<if test="visit_cd !=null and visit_cd !=''">
				and(a.visit_cd like concat('%', #{visit_cd}, '%') )
			</if> 
	   		<if test="visit_dtl_cd !=null and visit_dtl_cd !=''">
				and(a.visit_dtl_cd like concat('%', #{visit_dtl_cd}, '%') )
			</if> 
	   		<if test="rec_per !=null and rec_per !=''">
				and(a.rec_per like concat('%', #{rec_per}, '%') )
			</if> 
	   		<if test="phone_no !=null and phone_no !=''">
				and(c.phone_no like concat('%', #{phone_no}, '%') )
			</if> 
		order by a.update_date desc
	</select>
	
	<select id="custDetailList" resultType="com.core.plus.contact.cust.vo.CustVO" parameterType="String">
		select
			a.cust_no
			,a.create_date
			,a.cust_name
			,a.resident_no
			,a.chart_no
			,a.cust_id
			,a.visit_cd
			,a.visit_dtl_cd
			,a.visit_cn
			,a.rec_per
			,a.remark_cn
		from tb_cust a
		where
			a.cust_no = #{cust_no}
	</select>
	
	<insert id="custInsert" parameterType="com.core.plus.contact.cust.vo.CustVO">
		<selectKey keyProperty="cust_no" resultType="String" order="BEFORE">
			SELECT 
                  IF(SUBSTR(MAX(cust_no), 1, 10) = DATE_FORMAT(now(), '%Y%m%d%H')
                     , MAX(cust_no)+1
                     , concat(DATE_FORMAT(now(), '%Y%m%d%H'),'00001')) cust_no
                  FROM tb_cust USE INDEX(PRIMARY)
		</selectKey>
		insert into tb_cust (
							cust_no
							,cust_name
							,resident_no
							,chart_no
							,cust_id
							,visit_cd
							,visit_dtl_cd
							,visit_cn
							,rec_per
							,remark_cn
		)
		values(
			#{cust_no}
           	,#{cust_name}
           	,#{resident_no}
           	,#{chart_no}
           	,#{cust_id}
           	,#{visit_cd}
           	,#{visit_dtl_cd}
           	,#{visit_cn}
           	,#{rec_per}
           	,#{remark_cn}
		)
<!-- 		<selectKey keyProperty="cust_key" resultType="String" order="AFTER"> -->
<!-- 			SELECT  -->
<!--                   MAX(cust_no) -->
<!--             FROM tb_cust USE INDEX(PRIMARY) -->
<!-- 		</selectKey> -->
	</insert>
	
	<update id="custUpdate" parameterType="com.core.plus.contact.cust.vo.CustVO">
		update tb_cust
		set
			cust_id = #{cust_id}
			,visit_cd = #{visit_cd}
			,visit_dtl_cd = #{visit_dtl_cd}
			,visit_cn = #{visit_cn}
			,rec_per = #{rec_per}
			,remark_cn = #{remark_cn}
		where cust_no = #{cust_no}
	</update>
	
	<update id="custDelete" parameterType="com.core.plus.contact.cust.vo.CustVO">
		update tb_cust
		set
			del_yn = 'N'
		where cust_no = #{cust_no}
	</update>

</mapper>