<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cust">
	<select id="custList" resultType="com.core.plus.contact.cust.vo.CustVO">
		select
			a.cust_no
      		, date_format(a.create_date, '%Y-%m-%d %H:%i') as create_date
			,a.cust_name
			,a.chart_no
			,a.cust_id
			,a.visit_cd
			,a.visit_dtl_cd
			,a.visit_cn
			,(select phone_area_no from tb_cust_phone where primary_yn = 'Y' and cust_no = a.cust_no) as phone_area_no
      		,(select phone_no from tb_cust_phone where primary_yn = 'Y' and cust_no = a.cust_no) as phone_no
      		,(select zip_no from tb_cust_addr where primary_yn = 'Y' and cust_no = a.cust_no) as zip_no
      		,(select main_address from tb_cust_addr where primary_yn = 'Y' and cust_no = a.cust_no) as main_address
		from tb_cust a
		where a.del_yn = 'N'
		order by a.update_date desc
	</select>
	
	<select id="custDetailList" resultType="com.core.plus.contact.cust.vo.CustVO" parameterType="String">
		select
			a.cust_no
			,a.create_date
			,a.cust_name
			,a.resident_no
			,a.chart_no
			,a.cust_id
			,a.visit_cd
			,a.visit_dtl_cd
			,a.visit_cn
			,a.rec_per
			,a.remark_cn
		from tb_cust a
		where
			a.cust_no = #{cust_no}
	</select>
	
	<insert id="custInsert" parameterType="com.core.plus.contact.cust.vo.CustVO">
		<selectKey keyProperty="cust_no" resultType="String" order="BEFORE">
			SELECT 
                  IF(SUBSTR(MAX(cust_no), 1, 10) = DATE_FORMAT(now(), '%Y%m%d%H')
                     , MAX(cust_no)+1
                     , concat(DATE_FORMAT(now(), '%Y%m%d%H'),'00001')) cust_no
                  FROM tb_cust USE INDEX(PRIMARY)
		</selectKey>
		insert into tb_cust (
							cust_no
							,cust_name
							,resident_no
							,chart_no
							,cust_id
							,visit_cd
							,visit_dtl_cd
							,visit_cn
							,rec_per
							,remark_cn
		)
		values(
			#{cust_no}
           	,#{cust_name}
           	,#{resident_no}
           	,#{chart_no}
           	,#{cust_id}
           	,#{visit_cd}
           	,#{visit_dtl_cd}
           	,#{visit_cn}
           	,#{rec_per}
           	,#{remark_cn}
		)
<!-- 		<selectKey keyProperty="cust_key" resultType="String" order="AFTER"> -->
<!-- 			SELECT  -->
<!--                   MAX(cust_no) -->
<!--             FROM tb_cust USE INDEX(PRIMARY) -->
<!-- 		</selectKey> -->
	</insert>
	
	<update id="custUpdate" parameterType="com.core.plus.contact.cust.vo.CustVO">
		update tb_cust
		set
			cust_id = #{cust_id}
			,visit_cd = #{visit_cd}
			,visit_dtl_cd = #{visit_dtl_cd}
			,visit_cn = #{visit_cn}
			,rec_per = #{rec_per}
			,remark_cn = #{remark_cn}
		where cust_no = #{cust_no}
	</update>
	
	<update id="custDelete" parameterType="com.core.plus.contact.cust.vo.CustVO">
		update tb_cust
		set
			del_yn = 'N'
		where cust_no = #{cust_no}
	</update>

</mapper>