<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="oppty">

	<select id="opptyList" resultType="com.core.plus.oppty.vo.OpptyVO">
		SELECT 
			oppty_no,
			oppty_name,
			cust_no,
			(select cust_name from tb_cust cust where cust.cust_no = opty.cust_no) cust_name,
			(select emp_name  from tb_emp  emp  where emp.emp_no = opty.emp_no) emp_name,
			(select code_name from tb_code where code_no = '1010' and code = oppty_status_cd) oppty_status_cd,
			(select code_name from tb_code where code_no = '1011' and code = oppty_stage_cd)  oppty_stage_cd,
			exp_close_day,
			(select code_name from tb_code where code_no = '1008' and code = dtype_cd) dtype_cd,
			(select code_name from tb_code where code_no = '1012' and code = purchase_type) purchase_type,
			(select code_name from tb_code where code_no = '1014' and code = rec_per_cd) rec_per_cd,
			create_date
		FROM
			tb_oppty opty
	</select>
	
	<!-- code 값 불러오는 쿼리 -->
	<select id="opptyStatusCode" resultType="com.core.plus.oppty.vo.OpptyVO">
		SELECT code_name, code FROM tb_code WHERE code_no = '1010'
	</select>
	<select id="opptyStageCode" resultType="com.core.plus.oppty.vo.OpptyVO">
		SELECT code_name, code FROM tb_code WHERE code_no = '1011'
	</select>
	<select id="opptyDtypeCode" resultType="com.core.plus.oppty.vo.OpptyVO">
		SELECT code_name, code FROM tb_code WHERE code_no = '1018'
	</select>
	<select id="opptyPurchaseType" resultType="com.core.plus.oppty.vo.OpptyVO">
		SELECT code_name, code FROM tb_code WHERE code_no = '1012'
	</select>
	<select id="opptyPaymentCode" resultType="com.core.plus.oppty.vo.OpptyVO">
		SELECT code_name, code FROM tb_code WHERE code_no = '1013'
	</select>
	<select id="opptyRecPerCode" resultType="com.core.plus.oppty.vo.OpptyVO">
		SELECT code_name, code FROM tb_code WHERE code_no = '1014'
	</select>
	
</mapper>